
    .div{
      margin: 0 auto;
      padding: 0;
      width: 100%;
    }
    
    .content1{
        max-width: 950px;
        min-width: 950px;
        padding: 100px 0 0 0;
        margin: 0 auto;
        text-align: center;
        
      }
      
      .content1 h1{
        font-size: 36px;
        color: #343434;
      }
      
      .nav1{
        width:70px;
        height: 130px;
        position: fixed;
        top:300px;
        right: 80px;
        line-height: 30px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
      }
    
      .nav1 a{
        font-size: 16px;
        color: #9C9C9C;
      }
    
    
      #n1:hover {
       color: #4C4C4C;
      }
     
    
      #n2:hover {
        color: #4C4C4C;
       }
    
       #n3:hover {
        color: #4C4C4C;
       }
    
       #n4:hover {
        color: #4C4C4C;
       }
    
       #n5:hover {
        color: #4C4C4C;
       }
    
     .简介1 {
      margin: 50px 0;
     }
    
     .简介1 img{
      float: left;
      width: 480px;
      overflow: hidden;
      }
    
      
       #简介1{
         margin: 30px 0 10px 0;
         padding: 40px 0 0 0;
         text-align: left;
         font-size: 20px;
         font-weight: bold;
       }
    
       #简介内容1{
        font-size: 16px;
        line-height: 28px;
        text-align: left;
        color: #414141;
        margin: 0 auto;
      }
    
      #时间1{
        margin: 0 0 10px 0;
        padding: 20px 0 0 0;
        text-align: left;
        font-size: 20px;
        font-weight: bold;
      }
    
      #时间内容1{
       font-size: 16px;
       line-height: 28px;
       text-align: left;
       color: #414141;
       margin: 0 auto;
     }
    
     #角色和工作1{
      margin: 0 0 10px 0;
      padding: 20px 0 0 0;
      text-align: left;
      font-size: 20px;
      font-weight: bold;
    }
    
    #角色和工作内容1{
     font-size: 16px;
     line-height: 28px;
     text-align: left;
     color: #414141;
     margin: 0 auto;
    }
    
    .设计背景1{
      margin: 80px 0 0 0;
    }
    
    .设计背景1 h1{
      font-family: initial;
      font-size: 64px;
      color: rgba(255,37,0,0.15);
      position: relative;
      right: 45px;
      margin: 0 auto;
    }
    
    .设计背景1 h2{
      font-size: 24px;
      color: rgba(52,52,52,1);
      position: relative;
      top:-65px;
    }
    
    .设计背景1 img{
      margin-top: -100px;
    }

    
    
    .设计分析1{
      margin: 40px 0 0 0;
      margin-top: -280px;
    }
    
    
    .设计分析1 h1{
      font-family: initial;
      font-size: 64px;
      color: rgba(255,37,0,0.15);
      position: relative;
      right: 45px;
      margin: 0 auto;
    }
    
    .设计分析1 h2{
      font-size: 24px;
      color: rgba(52,52,52,1);
      position: relative;
      top:-65px;
    }
    
    .设计分析1 h3{
      font-size: 18px;
      text-align: left;
      color: #343434;
      margin-top: -60px;
      margin-bottom: 5px;
    }
    
    .设计分析1 p{
      font-size: 16px;
      line-height: 28px;
      text-align: left;
      color: #414141;
    }
    
    .设计分析1 h4{
      font-size: 18px;
      text-align: left;
      color: #343434;
      /* margin-top: -180px; */
      margin-bottom: -3px;
     
    }

    .设计分析1 h5{
      font-size: 18px;
      text-align: left;
      color: #343434;
      margin-bottom: -3px;
      
    }

    .设计分析1 h6{
      font-size: 18px;
      text-align: left;
      color: #343434;
      margin-bottom: -3px;
    }

    #一{
      width: 180px;
      position: relative;
      left: 95px;
      top: -20px;
    }
    
    #二和三{
    position: relative;
    left: 400px;
    top:-150px;
    }

    #四{ 
     width:180px;
    position: relative;
    left: 680px;
    top:-225px;
    }
    
    .方案对比1 h1{
      font-family: initial;
      font-size: 64px;
      color: rgba(255,37,0,0.15);
      position: relative;
      right: 45px;
      margin: 0 auto;
    }
    
    .方案对比1 h2{
      font-size: 24px;
      color: rgba(52,52,52,1);
      position: relative;
      top:-65px;
    }
    
    .方案对比1 h3{
      font-size: 18px;
      text-align: left;
      color: #343434;
      
    }
    
    #方案对比{
      font-size: 16px;
      line-height: 28px;
      text-align: left;
      color: #414141;
      margin-top: -40px;
    }
    
   #放大{
     position: relative;
     left:-120px;
   }

   #绽放{
    position: relative;
    left:100px;
  }

  #方案一{
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #414141;
    position: relative;
    left: 20px;
  }  

  #方案二{
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #414141;
    position: relative;
    left: 400px;
    top:-45px;
  }  

  #方案三{
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #414141;
    position: relative;
    left: 660px;
    top:-85px;
  }  

  #缩小{
    position: relative;
    left:-200px;
  }

  #最终{
    width: 400px;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #414141;
    position: relative;
    left: 450px;
    top:-300px;
  }


  #end{
    width: 400px;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #414141;
    position: relative;
    left:170px;
    top:-150px;
  }

  .方案对比1 h4{
    font-size: 18px;
    text-align: left;
    color: #343434;
    margin-top: -80px;
    
  }

  #大{
    position: relative;
    left:-245px;
  }

  #小{
    position: relative;
    left:-200px;
  }


  #说明{
    width: 350px;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #414141;
    position: relative;
    left:550px;
    top:-435px;
  }

  #内{
    width: 350px;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #414141;
    position: relative;
    top: -274px;
    left:280px;
    
  }

  #外{
    width: 350px;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #414141;
    position: relative;
    top: -230px;
    left: -8px;
  }

  .方案对比1 h5{
    font-size: 18px;
    text-align: left;
    color: #343434;
    margin-top: -200px;
    
  }

  #弹窗{
    position: relative;
    left:-245px;
  }

  #打钩{
    position: relative;
    left:-200px;
  }

  #说明2{
    width: 350px;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #414141;
    position: relative;
    left:550px;
    top:-435px;
  }

  #toast{
    width: 350px;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #414141;
    position: relative;
    top:-180px;
    left:30px;
  }

  #success{
    width: 350px;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #414141;
    position: relative;
    top:-224px;
    left:250px;
  }

  .方案对比1 h6{
    font-size: 18px;
    text-align: left;
    color: #343434;
    margin-top: -130px;
    
  }

  #上升{
    position: relative;
    left:-120px;
  }

  #时间{
   position: relative;
   left:100px;
 }

 #方案一4{
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  color: #414141;
  position: relative;
  left: 20px;
}  

#方案二4{
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  color: #414141;
  position: relative;
  left: 400px;
  top:-45px;
}  

#方案三4{
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  color: #414141;
  position: relative;
  left: 730px;
  top:-85px;
}  

#说明4{
  
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  color: #414141;
  margin-top: -50px;

}




#最终1{
  font-size: 18px;
  text-align: left;
  color: #343434;
  font-weight: bold;
  margin-top: 100px;
  
}

#打卡动效{
  position: relative;
  left:-30px;
}

#动效文档{
  position: relative;
  left:50px;
  top:15px;
}

#方案{
  width: 100px;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  color: #414141;
  padding-left: 80px;
  
}

#文档{
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  color: #414141;
  padding-left: 600px;
  margin-top: -45px;
  margin-bottom: 100px;
}


    .后期反馈1 h1{
      font-family: initial;
      font-size: 64px;
      color: rgba(255,37,0,0.15);
      position: relative;
      right: 45px;
      
    }
    
    .后期反馈1 h2{
      font-size: 24px;
      color: rgba(52,52,52,1);
      position: relative;
      top:-85px;
    }
    
  
    
    
    
    
     .翻页12 button{
       cursor:pointer;
        background-color: white;
        border: 2px solid #484848;
        color: #181818;
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

        border-radius: 5px;
        
      }
    
      .翻页12:hover button{
        background-color: #484848;
        color: white;
      }
    
    
    
      .Footer{
        height:60px;
        font-size: 15px;
        color: rgba(0,0,0,0.6);
        margin-top: 200px;
      }


      